body {
    background-color: #171717;
}

textarea:focus, input:focus{
    outline: none;
}

h1, h2, h3 {
    color: #f58b00;
    text-align: center;
}

.hover-pointer:hover {
    cursor: pointer;
}

.gundan-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #f58b0055;
    caret-color: #f58b00;
    transition: .2s;
    color: #f7eacd;
}

.gundan-input:focus {
    border-bottom: 2px solid #f58b00;
}

.gundan-button {
    background: transparent;
    min-width: 100px;
    border-color: #f58b00;
    color: #f58b00;
    transition: .2s;
}

.gundan-button-accept {
    color: green;
    border-color: green;
}

.gundan-button-warn {
    color: yellow;
    border-color: yellow;
}

.gundan-button-alert {
    color: red;
    border-color: red;
}

.gundan-button:hover {
    background: transparent;
    min-width: 100px;
    border-color: white;
    color: white;
}


.horizontal-divider {
    height: 2px;
    width: 100%;
    background-color: #f58b0011;
}

/*@font-face {*/
/*    font-family: "ReggaeOne-Regular";*/
/*    src: url("assets/fonts/ReggaeOne-Regular.ttf");*/
/*}*/

/*@font-face {*/
/*    font-family: "MochiyPopOne-Regular";*/
/*    src: url("assets/fonts/MochiyPopOne-Regular.ttf");*/
/*}*/

/*@font-face {*/
/*    font-family: "001Shirokuma-Regular";*/
/*    src: url("assets/fonts/001Shirokuma-Regular.otf");*/
/*}*/

@font-face {
    font-family: "nagayama_kai08";
    src: url("assets/fonts/nagayama_kai08.otf");
}

/*@font-face {*/
/*    font-family: "amakara_sample";*/
/*    src: url("assets/fonts/amakara_sample.ttf");*/
/*}*/

@font-face {
    font-family: "ComicSansMS3";
    src: url("assets/fonts/ComicSansMS3.ttf");
}
